@mixin h1 {
  font-size: 4rem;
  line-height: 5rem;
}
@mixin big {
  font-size: 7.0em;
  line-height: 7.2rem;
}
@mixin h__16-20 {
  font-size: 1.5rem;
  line-height: 2rem;
}
@mixin text-big {
  font-size: 2rem;
  line-height: 2.5rem;
}
@mixin text-normal {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
@mixin text-small {
  font-size: 1.2rem;
  line-height: 1.5rem;
}