$primary: #ffbe00;
$black: #000000;
$white: #ffffff;
$red: #cc0000;

$black-lvl1: #2e2e2e;
$black-lvl2: #2f2f2f;
$black-lvl3: #353535;

$gray-lvl0: #efefef;
$gray-lvl1: #fafafa;
$gray-lvl2: #f2f4f6;
$gray-lvl3: #f0f0f0;
$gray-lvl4: #dadada;
$gray-lvl5: #d6d9dd;
$gray-lvl6: #d8d8d8;
$gray-lvl7: #afafaf;
$gray-lvl8: #727880;
$gray-lvl9: #6f6f6f;
$gray-lvl10: #5a5f65;

$short-time: 0.15s;
$medium-time: 0.3s;

// Fonts
$comfortaa: "Comfortaa";
$sono: "Sono";
$sora: "Sora";
$manrope: "Manrope";
