html {
  font-family: $sora;
  font-size: 62.5%;
  // overflow-x: hidden; // not working webkit scroll behavior
  -webkit-overflow-scrolling: touch;
  background-color: $black-lvl1;
  color: $white;
}
a {
  text-decoration: none;
  transition: color 0.2s ease-out;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
* {
  box-sizing: border-box;
}
.wrapper {
  max-width: 3000px;
  margin: 0 auto;
  padding: 10px;
}

.p-0 {
  padding: 0;
}
